/* Navbar */
#navbar {
    float: left;
    width: 20vw;
    padding: 0 40px;
    position: fixed;
}

#navbar ul {
    height: 80vh;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: black;
}

/* Home */
#typing-txt {
    font-family: 'Playwrite HR Lijeva';
    display: inline-block;
    font-size: 200px;
    border-right: black 10px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#name-card {
    margin-top: 20px;
    margin-left: 25px;
}

#name-card h1 {
    letter-spacing: 5px;
}

#name-card h3 {
    margin-left: 5px;
}

/* Projects */
#projects {
    background-color: #FFDAB9;
}

#projects .content-container {
    position: absolute;
    width: inherit;
    height: inherit;
}

.loading {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading p {
    margin-bottom: 200px;
}

/* About */
#about {
    background-color: white;
    padding: 0 120px;
}

#about h3 {
    margin-top: 20px;
    width: 100%;
}

#scroll-txt {
    color: #890304;
    font-weight: 400;
}

.img-outline {
    float: left;
    margin-right: 20px;
    border: 2px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 340px;
    border-radius: 50%;
}

.image {
    background: gold url(../img/about.png) no-repeat center center/cover;
    width: 320px;
    height: 320px;
    border: 2px solid black;
    border-radius: 50%;
}

.about-container p {
    margin-bottom: 20px;
    width: 90%;
}

.about-container p a {
    color: black;
    text-decoration: underline;
}

/* Resume */
#resume {
    background-color: #F0F4F0;
}

.pdf {
    margin-top: 40px;
}

#resume p {
    margin-top: 40px;
}

#resume p a {
    color: black;
    text-decoration: underline;
}

/* Contact */
#contact {
    background-color: #FCE4EC;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border: 1px solid #333;
    padding: 40px;
}

input[type="submit"] {
    background-color: gold;
    border: none;
}   