/* Containers */
.container-bottom-right {
    float: right;
    width: 65vw;
    height: 80vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

.typing-container {
    display: inline-block;
}

.about-container {
    margin-top: 20px;
}

/* Shapes */
.outline {
    position: absolute;
    height: 70px;
    width: 70px;
    border: 2px solid black;
}

.square {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: skyblue;
}

/* Forms */
.form-grp {
    margin-bottom: 20px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}